@import "_var";

H2{
  font-weight: bold;
  font-size: 1.5em;
}

room-editor{
    display: block;
    padding:0.1em;

    &:hover{
        background: lighten($blue, 50%);;
    }

    &:after{
        content: "";
        display: block;
        clear: both;
    }


}
